.mobile-item {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #1f3e5a;
  cursor: pointer;
  display: flex;
  padding: 12px 0px;
  gap: 8px;
  align-items: center;
}

.mobile-item.active {
  opacity: 75%;
}

.animate {
  transition: all 0.25s ease-in-out;
}

.animate.rotate {
  transform: rotate(-180deg);
}
