.section {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  color: #1f3e5a;
  max-width: 600px;
}

.section__h2 {
  margin-bottom: 40px;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: -0.84px;
  color: #1f3e5a;
}

.section__article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__img_container {
  position: relative;
}

@media (min-width: 1000px) {
  .section {
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: auto 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0;
    max-width: none;
  }

  .section__h2 {
    display: grid;
    align-items: center;
    font-size: 2.5rem;
    grid-area: 1/1/2/3;
  }

  .section__article {
    grid-area: 2/1/4/2;
    justify-content: left;
    text-align: left;
    align-self: center;
    max-width: 675px;
  }

  .section__img_container {
    align-self: center;
    grid-area: 2 / 2 / 4 / 3;
  }
  .section__article--second {
    grid-area: 1 / 2 / 4 / 3;
    margin-left: 0;
  }

  .section__img_container--second {
    grid-area: 1 / 1 / 4 / 2;
  }
}

@media (min-width: 1200px) {
  .section {
    overflow: visible;
    margin-top: 70px;
    margin-bottom: 57px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0;
    max-width: none;
    width: 87.2%;
  }

  .section__img_container {
    grid-area: 1/2/4/3;
    margin-right: -70%;
  }

  .section__article {
    grid-area: 1/1/4/2;
  }

  .section__article--second {
    grid-area: 1 / 2 / 4 / 3;
  }

  .section__img_container--second {
    grid-area: 1 / 1 / 4 / 2;
    margin-left: -132.5%;
  }
}

@media (min-width: 1700px) {
  .section__h2 {
    font-size: 3rem;
  }

  .section__img_container {
    margin: 0 auto;
  }

  .section__article {
    width: 100%;
    justify-self: end;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
}
