.section {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  color: #1f3e5a;
  max-width: 600px;
}

.section__img_container {
  position: relative;
}

.section__h3 {
  margin-top: 40px;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  flex-basis: 80%;
}

.section__info {
  color: #4c5862;
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  flex-basis: 90%;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.section__article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
