.link {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  opacity: 0.75;
  cursor: pointer;
  margin: 0 1rem;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

.active {
  opacity: 100%;
}