.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 2rem;
}

.navbar--left {
  display: flex;
}

.navbar--middle {
  display: flex;
  flex: 2;
  justify-content: left;
  align-items: center;
  height: 100%;
}

.navbar--right {
  display: flex;
}
