.item {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  opacity: 0.75;
  cursor: pointer;
  margin: 0 1rem;
  transition: opacity 0.25 ease-in-out;
}

.item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.item.active {
  opacity: 100%;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.animate {
  transition: transform 0.25s ease-in-out;
}

.animate.rotate {
  transform: rotate(-180deg);
}
